
.footer {
  background: lightgrey;
  color: darkgray;
  text-align: center;
  border-color:black;
  border-style: solid;
}

.custom-icon {
  margin:0.5em;
  position: relative;
  display: inline-block;
}

