<h2 style="text-align: center">Contact</h2>


<br>

<table class="table">
  <tr>
    <td>Email Profissional</td>
    <td>jacmsantos31@gmail.com</td>
  <tr>
  <tr>
    <td>Email Académico</td>
    <td>up201504013@fe.up.pt</td>
  </tr>
  <tr>
    <td>Linkedin</td>
    <td><a href="https://www.linkedin.com/in/joaoalexsantos/">https://www.linkedin.com/in/joaoalexsantos/</a></td>
  </tr>
  <tr>
    <td>Github</td>
    <td><a href="https://github.com/jotadaxter">https://github.com/jotadaxter</a></td>
  </tr>
  <tr>
    <td>Curriculum Vitae</td>
    <td><a href="https://doc-00-4g-docs.googleusercontent.com/docs/securesc/tv3m6gelufk72u1hdldsss8s09009fm9/b5ap34d51qlupqeafvpdruo620gabq56/1603045800000/11506506140861112980/11506506140861112980/1MhJZuyMG4QALnSPLCfBY_6_l3uvD3II9?e=download&authuser=0&nonce=ucp48g5c14hdc&user=11506506140861112980&hash=oh4hiu7ac0hq0fdceqvp076gdfh3mmaq">download</a></td>
  </tr>
<table>
