<h2 style="text-align: center">Contact</h2>

<br>

<table class="table">
  <tr>
    <td>Email Profissional</td>
    <td>jacmsantos31@gmail.com</td>
  <tr>
  <tr>
    <td>Email Académico</td>
    <td>up201504013@fe.up.pt</td>
  </tr>
  <tr>
    <td>Linkedin</td>
    <td><a href="https://www.linkedin.com/in/joaoalexsantos/">https://www.linkedin.com/in/joaoalexsantos/</a></td>
  </tr>
  <tr>
    <td>Github</td>
    <td><a href="https://github.com/jotadaxter">https://github.com/jotadaxter</a></td>
  </tr>
  <tr>
    <td>Curriculum Vitae</td>
    <td><a href="https://doc-0k-4g-docs.googleusercontent.com/docs/securesc/tv3m6gelufk72u1hdldsss8s09009fm9/seh768gc158iehd534mjmu7u4r6ajauh/1632303675000/11506506140861112980/11506506140861112980/12NkDaYJG4k1NLHRAzyQym7OSYB4wKEM1?e=download&authuser=0&nonce=mcofq9bn67p1k&user=11506506140861112980&hash=i7ip46chnrjbp21mo1c1ahlqhedco10l">download</a></td>
  </tr>
<table>
