<h2 style="text-align: center">Contact</h2>


<br>

<table class="table">
  <tr>
    <td>Email Profissional</td>
    <td>jacmsantos31@gmail.com</td>
  <tr>
  <tr>
    <td>Email Académico</td>
    <td>up201504013@fe.up.pt</td>
  </tr>
  <tr>
    <td>Linkedin</td>
    <td><a href="https://www.linkedin.com/in/joaoalexsantos/">https://www.linkedin.com/in/joaoalexsantos/</a></td>
  </tr>
  <tr>
    <td>Github</td>
    <td><a href="https://github.com/jotadaxter">https://github.com/jotadaxter</a></td>
  </tr>
  <tr>
    <td>Curriculum Vitae</td>
    <td><a href="https://doc-0k-4g-docs.googleusercontent.com/docs/securesc/tv3m6gelufk72u1hdldsss8s09009fm9/2uu3ete00vfr84429trvurdgforr7gv8/1603728075000/11506506140861112980/11506506140861112980/1vzyglabnPHoxBqC6BqEMJIQzI4ObQB5P?e=download&authuser=0&nonce=fd6n17e9tta24&user=11506506140861112980&hash=fmfhndmn6co7sbpj7mi89j3k3ub8oe67">download</a></td>
  </tr>
<table>
