
<app-header></app-header>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.12.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.12.0/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>

<div class="container">
  <app-navbar></app-navbar>

  <app-about-page></app-about-page>
</div>


<app-footer></app-footer>

<router-outlet></router-outlet>
