#img-about {
  width: 100%;
  object-fit: cover;
}

.p-lang {
  font-size:70%;
}

.about-ul {
  border-color:chocolate;
  border-style: solid;
  margin:auto;
  padding:0.2em;

}

.about-li {
  border-color:rgb(189, 30, 210);
  border-style: solid;


  list-style-type: none;
  margin:0.4em;

}

.sp-paragraph {
  margin:2em;
}

.sp-li {
  margin-left:2em;
}
