<h2 style="text-align: center;">About Me</h2>

<!-- Content Pannel -->
<div class="row" style="margin:auto">
  <!-- Left-Side Pannel -->
  <div class="col-md-4">
    <img id="img-about" src="https://i.imgur.com/CSH1RDO.png"
      class="img-responsive" alt="João Santos">

    <div class="row" style="padding:0.5em;"></div>

    <div class="row" *ngIf="skills">
      <h3>Skills</h3>

      <!-- Programming Languages Block -->
      <div *ngIf="skills.programming_languages">
        <h6>Programming Languages</h6>
        <ul class="row about-ul">
          <li class="about-li" *ngFor="let lang of skills.programming_languages">
            <a href="{{lang.link}}">
              <button type="button" class="btn btn-outline-primary p-lang">{{lang.name}}</button>
            </a>
          </li>
        </ul>
      </div>

      <!-- Frameworks Block -->
      <div>
        <h6>Frameworks</h6>
        <ul class="row about-ul">
          <li class="about-li" *ngFor="let lang of skills.frameworks">
            <a href="{{lang.link}}">
              <button type="button" class="btn btn-outline-primary p-lang">{{lang.name}}</button>
            </a>
          </li>
        </ul>
      </div>

      <!-- Databases Block -->
      <div>
        <h6>Databases</h6>
        <ul class="row about-ul">
          <li class="about-li" *ngFor="let lang of skills.databases">
            <a href="{{lang.link}}">
              <button type="button" class="btn btn-outline-primary p-lang">{{lang.name}}</button>
            </a>
          </li>
        </ul>
      </div>

      <!-- Tools Block -->
      <div>
        <h6>Tools</h6>
        <ul class="row about-ul">
          <li class="about-li" *ngFor="let lang of skills.tools">
            <a href="{{lang.link}}">
              <button type="button" class="btn btn-outline-primary p-lang">{{lang.name}}</button>
            </a>
          </li>
        </ul>
      </div>

      <!-- OS Block -->
      <div>
        <h6>Operative Systems</h6>
        <ul class="row about-ul">
          <li class="about-li" *ngFor="let lang of skills.os">
            <a href="{{lang.link}}">
              <button type="button" class="btn btn-outline-primary p-lang">{{lang.name}}</button>
            </a>
          </li>
        </ul>
      </div>

      <!-- Languages Block -->
      <div>
        <h6>Languages</h6>
        <ul class="row about-ul">
          <li class="about-li" *ngFor="let lang of skills.languages">
            <a href="{{lang.link}}">
              <button type="button" class="btn btn-outline-primary p-lang">
                {{lang.name}}
                <span *ngIf="lang.classification"> ({{lang.classification}})</span>
              </button>
            </a>
          </li>
        </ul>
      </div>

    </div>


  </div>

  <!-- Right-Side Pannel -->
  <div class="col-md-8">
    <p>Hi,</p>
    <p>My name is João Alexandre Carvalho Marinho dos Santos and I'm 23 years old.</p>
    <p>I'm currently finishing my Master's degree in Informatics and Computing Engineering in FEUP, on the 5th year of
      studies.</p>
    <p>In the past year I've been to Rzeszow, in Poland, on Erasmus+ programme where I stayed for a whole semester at
      UITM (University of Information Technology and Management) with a global grade of 18,75.</p>
    <p>Since my early ages, I developed a big interest in videogames, and that lead me to this course. Alongside my
      academic studies, I had the chance to learn many game engines such as Unity, Unreal Engine, libGDX that I have
      used to create many schoolar projects.</p>
    <span>My areas of interest are:</span>
    <ul class="color-with-marker">
      <li>Game Development</li>
      <li>Augmented/Virtual Reality</li>
      <li>Web and App Development, more related to Back-End</li>
      <li>Software Development and System Design</li>
      <li>Database Administration</li>
      <li>Big Data</li>
    </ul>    <p>Besides having these preferences, I am open to other topics as well.</p>
    <p>I'm interested and keen to learn new things and flexible in terms of working in almost any type of topic.</p>
    <p>I'm a good team worker, very organized, hardworker, optimist, responsable and I can easily adaptat to any work
      environment.</p>
  </div>

  <!-- Education -->

  <div class="row" style="margin:auto;">
    <div class="container" style="margin-top: 0;">
      <h3>Education</h3>
      <div class="row" style="margin:auto" style="padding:1em">
        <ul class="timeline"  style="margin:auto; width:80%">
          <span class="education"></span>
          <!-- Large and medium screens -->
          <li *ngFor="let elem of education" class="d-none d-md-block">
            <span>{{elem.date}}</span>
            <span class="edu-loc" style="color:rgb(70, 112, 126)"> <b>{{elem.location}}</b></span>
            <span class="edu-title" style="padding-left:1.5em; color:rgb(99, 98, 98)"><b>{{elem.title}}</b></span>
            <p class="description">{{elem.description}}</p>
          </li>

          <!-- Small screens -->
          <li *ngFor="let elem of education" class="d-md-none">
            <ul style="padding:0">
              <li class="small-list">{{elem.date}}</li>
              <li class="small-list" style="color:rgb(99, 98, 98);"><b>{{elem.title}}</b></li>
              <li class="small-list">{{elem.description}}</li>
              <li class="small-list" style="color:rgb(70, 112, 126)"><b>{{elem.location}}</b></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>

    <!-- Experience -->
    <div class="row" style="margin:auto;">
      <div class="container" style="margin-top: 0;">
        <h3>Experience</h3>
        <div class="row" style="margin:auto" style="padding:1em">
          <ul class="timeline"  style="margin:auto; width:80%">
            <span class="education"></span>
            <!-- medium screens -->
            <li *ngFor="let elem of experience" class="d-none d-md-block">
              <span>{{elem.date}}</span>
              <span class="edu-loc" style="color:rgb(70, 112, 126)"> <b>{{elem.theme}}</b></span>
              <span class="edu-title" style="padding-left:1.5em; color:rgb(99, 98, 98)"><b>{{elem.title}}</b></span>
              <p class="description">{{elem.description}}</p>
            </li>

            <!-- Small screens -->
            <li *ngFor="let elem of experience" class="d-md-none">
              <ul style="padding:0">
                <li class="small-list">{{elem.date}}</li>
                <li class="small-list" style="color:rgb(99, 98, 98);"><b>{{elem.title}}</b></li>
                <li class="small-list">{{elem.description}}</li>
                <li class="small-list" style="color:rgb(70, 112, 126)"><b>{{elem.theme}}</b></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>

    <!-- GDPR (General Data Protection Regulation) -->
    <div class="row" style="margin:auto; padding:1.5em">
      <h3 style="padding:0.5em">GDPR (General Data Protection Regulation)</h3>
      <p>I hereby give consent for my personal data included in the application to be processed
        for the purposes of the recruitment process in accordance with Art. 6 paragraph
        1 letter a of the Regulation of the European Parliament and of the Council(EU)
        2016/679 of 27 April 2016 on the protection of natural persons with regardto the
        processing of personal data and on the free movement of such data, andrepealing
        Directive 95/46/EC (General Data Protection Regulation).</p>
    </div>

  </div>
