<h3>About Me</h3><br>

<!-- Content Pannel -->
<div class="row" style="border-color:yellow; border-style: solid;">
  <!-- Left-Side Pannel -->
  <div class="col-md-4" style="border-color:green; border-style: solid;">
    <img id="img-about" src="https://i.imgur.com/CSH1RDO.png" class="img-responsive" alt="João Santos">

    <div class="row" style="border-color:blueviolet; border-style: solid; padding:0.5em;"></div>

    <div class="row" style="border-color:rgb(0, 128, 122); border-style: solid;">
      <h3>Skills</h3>

      <!-- Programming Languages Block -->
      <div>
        <h6>Programming Languages</h6>
        <ul class="row about-ul">
          <li class="about-li" *ngFor="let lang of skills.programming_languages">
            <a href="{{lang.link}}">
              <button type="button" class="btn btn-outline-primary p-lang">{{lang.name}}</button>
            </a>
          </li>
        </ul>
      </div>

      <!-- Frameworks Block -->
      <div>
        <h6>Frameworks</h6>
        <ul class="row about-ul">
          <li class="about-li" *ngFor="let lang of skills.frameworks">
            <a href="{{lang.link}}">
              <button type="button" class="btn btn-outline-primary p-lang">{{lang.name}}</button>
            </a>
          </li>
        </ul>
      </div>

      <!-- Databases Block -->
      <div>
        <h6>Databases</h6>
        <ul class="row about-ul">
          <li class="about-li" *ngFor="let lang of skills.databases">
            <a href="{{lang.link}}">
              <button type="button" class="btn btn-outline-primary p-lang">{{lang.name}}</button>
            </a>
          </li>
        </ul>
      </div>

      <!-- Tools Block -->
      <div>
        <h6>Tools</h6>
        <ul class="row about-ul">
          <li class="about-li" *ngFor="let lang of skills.tools">
            <a href="{{lang.link}}">
              <button type="button" class="btn btn-outline-primary p-lang">{{lang.name}}</button>
            </a>
          </li>
        </ul>
      </div>

      <!-- OS Block -->
      <div>
        <h6>Operative Systems</h6>
        <ul class="row about-ul">
          <li class="about-li" *ngFor="let lang of skills.os">
            <a href="{{lang.link}}">
              <button type="button" class="btn btn-outline-primary p-lang">{{lang.name}}</button>
            </a>
          </li>
        </ul>
      </div>

      <!-- Languages Block -->
      <div>
        <h6>Languages</h6>
        <ul class="row about-ul">
          <li class="about-li" *ngFor="let lang of skills.languages">
            <a href="{{lang.link}}">
              <button type="button" class="btn btn-outline-primary p-lang">
                {{lang.name}}
                <span *ngIf="lang.classification"> ({{lang.classification}})</span>
              </button>
            </a>
          </li>
        </ul>
      </div>

    </div>


  </div>

  <!-- Right-Side Pannel -->
  <div class="col-md-8" style="padding:blue; border-style: solid;">
    <p>Hi,</p>
    <p>My name is João Alexandre Carvalho Marinho dos Santos and I'm 23 years old.</p>
    <p>I'm currently finishing my Master's degree in Informatics and Computing Engineering in FEUP, on the 5th year of
      studies.</p>
    <p>In the past year I've been to Rzeszow, in Poland, on Erasmus+ programme where I stayed for a whole semester at
      UITM (University of Information Technology and Management) with a global grade of 18,75.</p>
    <p>Since my early ages, I developed a big interest in videogames, and that lead me to this course. Alongside my
      academic studies, I had the chance to learn many game engines such as Unity, Unreal Engine, libGDX that I have
      used to create many schoolar projects.</p>
    <span class="sp-paragraph">My areas of interest are:</span>
    <ul>
      <li class="sp-li">Game Development</li>
      <li class="sp-li">Augmented/Virtual Reality</li>
      <li class="sp-li">Web and App Development, more related to Back-End</li>
      <li class="sp-li">Software Development and System Design</li>
      <li class="sp-li">Database Administration</li>
      <li class="sp-li">Big Data</li>
    </ul>
    <p>Besides having these preferences, I am open to other topics as well.</p>
    <p>I'm interested and keen to learn new things and flexible in terms of working in almost any type of topic.</p>
    <p>I'm a good team worker, very organized, hardworker, optimist, responsable and I can easily adaptat to any work
      environment.</p>
  </div>

  <!-- Education -->
  <div class="row" style="border-color:red; border-style: solid; margin:auto; padding:1.5em">
    <div class="row" style="margin:auto">
      <h4>Education</h4>
      <ul class="timeline">
        <li>
          <a target="_blank" href="https://www.totoprayogo.com/#">New Web Design</a>
          <a href="#" class="float-right">21 March, 2014</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et
            elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
        </li>
        <li>
          <a href="#">21 000 Job Seekers</a>
          <a href="#" class="float-right">4 March, 2014</a>
          <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo
            accumsan, sed semper nisi sollicitudin...</p>
        </li>
        <li>
          <a href="#">Awesome Employers</a>
          <a href="#" class="float-right">1 April, 2014</a>
          <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis
            pharetra velit. Sed nec tempor nibh...</p>
        </li>
      </ul>
    </div>

  </div>

  <!-- Experience -->
  <div class="row" style="border-color:red; border-style: solid; margin:auto">
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h4>Education</h4>
          <ul class="timeline">
            <li>
              <a target="_blank" href="https://www.totoprayogo.com/#">New Web Design</a>
              <a href="#" class="float-right">21 March, 2014</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et
                elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....
              </p>
            </li>
            <li>
              <a href="#">21 000 Job Seekers</a>
              <a href="#" class="float-right">4 March, 2014</a>
              <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo
                accumsan, sed semper nisi sollicitudin...</p>
            </li>
            <li>
              <a href="#">Awesome Employers</a>
              <a href="#" class="float-right">1 April, 2014</a>
              <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae,
                mollis pharetra velit. Sed nec tempor nibh...</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- GDPR (General Data Protection Regulation) -->
  <div class="row" style="border-color:rgb(0, 255, 34); border-style: solid; margin:auto; padding:1.5em">
    <h4>GDPR (General Data Protection Regulation)</h4>
    <p>I hereby give consent for my personal data included in the application to be processed
      for the purposes of the recruitment process in accordance with Art. 6 paragraph
      1 letter a of the Regulation of the European Parliament and of the Council(EU)
      2016/679 of 27 April 2016 on the protection of natural persons with regardto the
      processing of personal data and on the free movement of such data, andrepealing
      Directive 95/46/EC (General Data Protection Regulation).</p>
  </div>

</div>
