

<div *ngIf="project">

  <h1>{{ project.title }}</h1>

  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li [ngClass]="{active:isFirst}" data-target="#carousel" [attr.data-slide-to]="i" *ngFor="let snapshot of this.project.images; index as i; first as isFirst" ></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="carousel-item" [ngClass]="{active:isFirst}" *ngFor="let snapshot of this.project.images; index as i; first as isFirst">
          <a href="{{snapshot}}">
            <img class="d-block w-100" src="{{snapshot}}" title="source: imgur.com" alt="{{snapshot}}" />
          </a>
        </div>

        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>

  </div>

  <p>{{ project.description }}</p>
  <app-image-modal></app-image-modal>
  lightbox gallery
  <ul>
    <li>Course: {{project.courseShort + ' - ' + project.course}}</li>
    <li>Languages:
      <ul>
        <li *ngFor="let lang of project.languages"> {{lang}}</li>
      </ul>
    </li>
    <li>Tools:
      <ul>
        <li *ngFor="let tool of project.tools"> {{tool}}</li>
      </ul>
    </li>
    <li>Area: {{project.area}}</li>
    <li><a href="{{project.source}}">Source code</a></li>
    <li><a href="{{project.download}}">Download</a></li>
  </ul>
</div>


