<div *ngIf="project">

  <h1 class="page-title">{{ project.title }}</h1>

  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li [ngClass]="{active:isFirst}" data-target="#carousel" [attr.data-slide-to]="i" *ngFor="let snapshot of this.project.images; index as i; first as isFirst" ></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="carousel-item" [ngClass]="{active:isFirst}" *ngFor="let snapshot of this.project.images; index as i; first as isFirst">
          <a href="{{snapshot}}">
            <img class="d-block w-100" src="{{snapshot}}" title="source: imgur.com" alt="{{snapshot}}" />
          </a>
        </div>

        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
  </div>

  <br>
  <h2>Description</h2>
  <p>{{ project.description }}</p>

  <h2>Course</h2> <p>{{project.courseShort + ' - ' + project.course}}</p>

  <h2>Languages</h2>
  <ul class="custom-ul row">
    <li class="custom-li" *ngFor="let lang of project.languages">
      <a href="{{lang.link}}">
        <button type="button" class="btn btn-outline-primary">{{lang.name}}</button>
      </a>
    </li>
  </ul>

  <h2>Tools</h2>
  <ul class="custom-ul row">
    <li class="custom-li" *ngFor="let tool of project.tools">
      <a href="{{tool.link}}">
        <button type="button" class="btn btn-outline-primary">{{tool.name}}</button>
      </a>
    </li>
  </ul>

  <h2>Area</h2> <p>{{project.area}}</p>

  <h2>Downloads</h2>
  <ul class="custom-ul row">
    <li class="custom-li">
      <a href="{{project.source}}">
        <button type="button" class="btn btn-outline-primary">Source code</button>
      </a>
    </li>
    <li class="custom-li">
      <a href="{{project.download}}">
        <button type="button" class="btn btn-outline-primary">Game</button>
      </a>
    </li>
  </ul>

  <br>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{project.video}}" allowfullscreen></iframe>
  </div>

  <br>
</div>


  <!--<app-image-modal></app-image-modal>-->
