<h3 class="text-center">Projects</h3><br>

<div class="container-fluid bg-3 text-center">
  <div class="row project">
    <div class="col-sm-10 offset-md-1">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" alt="Image">
      <br><p>Project1</p>
      <p>Description1</p>
    </div>
  </div>
  <div class="row project">
    <div class="col-sm-10 offset-md-1">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" alt="Image">
      <br> <p>Project2</p>
      <p>Description2</p>
    </div>
  </div>
  <div class="row project">
    <div class="col-sm-10 offset-md-1">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"  alt="Image">
      <br> <p>Project2</p>
      <p>Description2</p>
    </div>
  </div>
  <div class="row project">
    <div class="col-sm-10 offset-md-1">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"  alt="Image">
      <br>
      <p>Project2</p>
      <p>Description2</p>
    </div>
  </div>
  <div class="row project">
    <div class="col-sm-10 offset-md-1">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" alt="Image">
      <p>Project2</p>
      <p>Description2</p>
    </div>
  </div>
</div>
